header.header
  .container
    .header-logo
      img(src="../static/images/general/logo.png", alt="logo")
    .header-form
      .header-form__name
        input(type="text" placeholder="لماكلا كمسا") 
        p كب صاخلا فتاهلا مقرو
      .header-form__phone
        input(type="phone" placeholder="____-___-___").header-form__phone-number
        select(type="phone" name="region").header-form__phone-region
          option(value="+971") +971
          option(value="+380") +380
          option(value="+253") +253
      .header-form__checkbox
      button.header-form__btn ناهر عض