header.header
  .container
    .header-logo
      img(src="../static/images/general/logo.png", alt="logo")
    .header-form
      .header-form__name
        input(type="text" placeholder="لماكلا كمسا") 
        p كب صاخلا فتاهلا مقرو
      .header-form__phone
        input(type="phone" placeholder="____-___-___").header-form__phone-number
        select(name="region").header-form__phone-region
          option(value="+971") +971
          option(value="+971") +971
          option(value="+971") +971
      .header-form__checkbox
        label(for="checkbox") * .اًمﺎﻋ 18 يﺮﻤﻋ ﻦﻣ ﺮﺜﻛأ ﺪﻴﻛﺄﺘﻟاو ﺔﻴﺻﻮﺼﺨﻟا ﺔﺳﺎﻴﺳو 
        input(type="checkbox" checked)
      button.header-form__btn ناهر عض