section.section-frame__wrap
  .container
    .section-frame
      .section-frame__pattern
        p.section-frame__pattern-top VIP عضو
        img(src="../../static/images/content/ic_diamond.svg", alt="ic_diamond")
        p.section-frame__pattern-bottom ٪ 100 نم رثكأ ةضايرلا ىلع ناهرلا
      .section-frame__pattern
        p.section-frame__pattern-top مكب ابحرم
        img(src="../../static/images/content/si-glyph_champion-cup.svg", alt="si-glyph_champion-cup")
        p.section-frame__pattern-bottom الوأ ٪ 100 ةأفاكم عاديإ
      .section-frame__pattern
        p.section-frame__pattern-top تافورصملا
        img(src="../../static/images/content/money-bag-with-dollar-symbol 1.svg", alt="money-bag-with-dollar-symbol")
        p.section-frame__pattern-bottom دعبي نوزئافلا
      .section-frame__pattern
        p.section-frame__pattern-top ةحيرص ةأفاكم
        img(src="../../static/images/content/ic_label.svg", alt="ic_label")
        p.section-frame__pattern-bottom ةحيرص ةأفاكم ٪05 ىتح